<!DOCTYPE html>
<html lang="fr">
<head>
    <title>EXI@STORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet" media="screen">

</head>

<body>
     
       <div class="container">
		<div class="header">
			<!-- Barre de navigation -->
				<div id="bar" class="navbar navbar-inverse ">
					<div class="navbar-inner "> 
					<!-- Bouton apparaissant sur les résolutions mobiles afin de faire apparaître le menu de navigation -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</a>
					<a id="exia" class="brand" href="index.html">EXI@STORE</a>
						
					<!-- Structure du menu -->
						<div class="nav-collapse collapse">
							<ul class="nav">
								<form id="search" class="navbar-search" action="#">
								<input  type="text" class="search-query span2 " placeholder="Search">
									
								</form>
								
							</ul>
						</div>
						
					   <div class="login">
									
							<input type="text" class="login span2 " placeholder="Login">
							<input type="password" class="pass span2 " placeholder="Password">
							<a href="basket.html"><button id="basket" class="btn btn-inverse btn-small"><i class="icon-white icon-shopping-cart"></i> </button></a>
							<a id="bouton" href="login.html" class="btn btn-inverse btn-small nav">Connect</a>
							<a id="bouton" href="register.html" class="btn btn-inverse btn-small nav">Subscribe</a>
						</div>
							</div>

				</div>
				<div class="container">
		
	<div class="form-signin ">
	
	<form action="./../controller/register.php" method="post" class="form-signin ">
	
        <h2 class="form-signin-heading">Register</h2> 
		<input type="FirstName" name="firstName" class="form-control" placeholder="FirstName" required > 
		<input type="LastName" name="lastName" class="form-control" placeholder="LastName" required >
        <input type="email" name="email" class="form-control " placeholder="Email address" required autofocus >
		<input type="text" name="country" class="form-control" placeholder="Country" required >
		<input type="Adress" name="adress" class="form-control" placeholder="Adress" required >
		<input type="Phone" name="phone" class="form-control" placeholder="Phone" required >
		<input type="Birthday" name="birthday" class="form-control" placeholder="Birthday" required >
        <input type="password" name="mdp" class="form-control" placeholder="Password" required >
		<input type="password" name="repeatpassword" class="form-control" placeholder="Retype Password" required >
		<input class="btn btn-lg btn-primary btn-block" name="register" type="submit"></button>
	</form>
			
		</div>
				
		</div>
</body>
<div class="footer">
    
			<div id="bar" class="navbar navbar-inverse ">
				<div class="navbar-inner ">
				</div>
			</div>
		</div>