* {
	/*outline: 1px solid red;*/
}

.col-md-2 {
	float: left;
}

.product {
	float: left;
	margin: 0;
	width: 33%;
}

.details {
	float: left;
	margin: 0;
	width: 33%;
}

.content {
	margin: 0px auto;
	width: 90%;
}

img {
	max-width: 100%;
	height: auto;
    width: auto;

}